@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mb-4 text-center">
    <h1 class="">Välkomna till i-Centrum</h1>
    <a asp-page="/Login" class="btn btn-primary" style="background-color: #446382 !important">Login</a>
</div>
